.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.Canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 80vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: calc(100%/var(--max-grids));
  width: 100%;
}

.Grid, .selectedGrid {
  border: solid 1px #000000;
  width: calc(100%/var(--max-grids));
  margin: -0.5px;
}

.selectedGrid {
  background-color: #565656;
}

.canvas-size {
  margin: auto;
}